.product-card {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
  transition: transform 0.25s ease;
  display: flex;
  flex-direction: column;
  min-height: 320px; // Кнопки на одном уровне

  &:hover {
    transform: translateY(-6px);
  }

  // Блок изображения
  .product-image {
    position: relative;
    width: 100%;
    height: 170px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }


    .bonus-count {
      position: absolute;
      top: 10px;
      left: 10px;
      background: #e91e63; 
      color: #ffffff; 
      padding: 5px 10px; 
      border-radius: 20px;
      font-weight: 700;
      font-size: 13px;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      z-index: 10;
      white-space: nowrap;

      .bonus-value {
        margin: 0;
        color: white;
      }

      .bonus-icon {
        width: 16px;
        height: 16px;
        object-fit: contain;

        filter: brightness(0) invert(1);
        shape-rendering: geometricPrecision;
      }

      // Мелкие экраны
      @media (max-width: 360px) {
        font-size: 12px;
        padding: 4px 8px;
        gap: 4px;
        top: 8px;
        left: 8px;

        .bonus-icon {
          width: 14px;
          height: 14px;
        }
      }
    }
  }

  // Детали
  .product-details {
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex-grow: 1;
    justify-content: space-between;

    p {
      margin: 0;
      font-size: 18px;
      font-weight: 700;
      color: #252b37;
    }

    h2 {
      margin: 0;
      font-size: 14.5px;
      font-weight: 500;
      color: #252b37;
      line-height: 1.35;

      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }

    .btn-outline {
      margin-top: 12px;
      padding: 10px 12px;
      background: #212529;
      color: #ffffff;
      border: none;
      border-radius: 12px;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      transition: background 0.2s ease;

      &:hover {
        background: #000000;
      }

      &:disabled {
        background: #cccccc;
        color: #888888;
        cursor: not-allowed;
      }
    }

    .basket-icon {
      font-size: 18px;
    }
  }
}

// Загрузка
.product-card.loading {
  min-height: 320px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
  font-weight: 500;
}